.title{
    margin-top: 10rem;
    color: var(--orange);
}
.container{
    width:100%;
}

.container > hr {
    height: 17rem;
    border: none;
}

.pageLoader{
    height: 82.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageLoader > img{
    height: 11rem;
    aspect-ratio: 1;
}

.subscribeSection {
    background-color: var(--light-green);
}

@media screen and (max-width: 580px) {
    .container{
        width: 100%;
        height: 75vh;
    }
}